<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 퀴즈 - 퀴즈풀기</title>
  </head>
  <body>
    <header>

        <h1>오늘의 퀴즈</h1>
        <ul class="menu">
            <li><a href="mypage">username</a></li>
            <li>로그아웃</li>
        </ul>

    </header>

    <div class="quiz-box">
      <div class="question-box">
        <p class="question"><span>O</span>1. 문제</p>
        <div class="bookmark">O</div>
      </div>

      <div class="code-box"></div>


      <div class="answer-box">
        <input
          class="input-answer"
          type="text"
          placeholder="정답을 입력하세요."
        />
      </div>

      <div class="main-btn">
        <button class="next" onclick="location.href='grading'">제출하기</button>
      </div>
    </div>
  </body>
</html>
